{% from "base.html" import render_scrolltotop, render_aboutus, render_ourcauses, render_faq, render_contactus, render_ourteam, render_sponsors, render_subscribenews, render_takeaction, render_footer, render_js, render_register, render_formseed, render_navbar, render_css, render_donatemodal %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    {% if title %}
    <title>Register - {{ title }}</title>
    {% else %}
    <title>Donate</title>
    {% endif %}

        <!--paystack function-->


    {{ render_css(render) }}
</head>



<body class="donate-body">
    <!--Donation Form-->
    <section id="donate">
        <div class="container">
            <div class="container h-100 p-5">
                <div class="row align-items-center text-center h-100">
                    <div class="mx-auto">
                        <div class="col p-3">
                                <img class="avatar" src="../static/images/donation-hand.svg">
                            <h1>DONATE</h1>
                            <p>Help us End Hunger and make this world a better place. </p>
                       </div>
                    </div>
                </div>
            </div>
   
           <div class="container col">
               <div class="row">
                   <div class="col-md"></div>
                   <div class="col-md">
                    <div class="col-md mb-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                              <li class="breadcrumb-item" aria-current="page"><a href="register.html">Register</a></li>
                              <li class="breadcrumb-item" aria-current="page"><a href="login.html">Login</a></li>
                            </ol>
                          </nav>
                       </div>
                   </div>
               </div>
              

               <div class="row">
                   <div class="col-md">
                       <div class="img">
			<img src="../static/images/pay.svg">
		</div>
                   </div>


                   <div class="col-md">
                    <div class="card p-5 mb-5">
                        <form id="register-form" method="POST" action="{{ url_for('main.donate') }}">
                            <script src="https://js.paystack.co/v1/inline.js"></script>
                            <div class="col-md pb-4 text-center">
                             <h5 style="color: #32be8f;">DONATION</h5>
                             <h6>Your donations means a lot to us!</h6>
                            </div>
        
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="donator-email"><p>Email Address*</p></label>
                                    <input name="donator-email" type="email" class="form-control" id="donator-email" required>
                                </div>
                            </div>
     
                            <div class="form-row">
                             <div class="form-group col-md">
                                 <label for="donator-username"><p>Username</p></label>
                                 <input name="donator-username" type="text" class="form-control" id="donator-username">
                             </div>
                         </div>
     
                         <div class="form-row">
                             <div class="form-group col-md">
                                 <label for="donate-amount"><p>Amount*</p></label>
                                 <input name="donate-amount" type="number" class="form-control" id="donate-amount" required>
                             </div>
                         </div>

                         <div class="form-row mb-2">
                            <div class="col-md">
                                <label for="donate-phonenumber"><p>Phone number</p></label>
                                <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+234</div>
                                </div>
                                <input type="number" name="donate-phonenumber" class="form-control" id="donate-phonenumber" maxlength="10" minlength="10">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="donator-note"><p>Additional notes</p></label>
                            <textarea class="form-control" id="donator-note" rows="3" placeholder="note: this will be displayed on our homepage!"></textarea>
                          </div>

                        <div class="col-md mt-3">
                            <div class="col">
                               <!--<button class="btn" type="button" onclick="payWithPaystack()"> Donate Now </button> --> 
                               <button class="btn" type="button" onclick=""> Donate Now </button> 
                            </div>  
                        </div>

                        <div id="secured" class="col text-center mt-5">
                            <p><i class="fa fa-lock"></i> SECURED</p>
                        </div>
        
                        </form>
     
                        </div>
                   </div>
               </div>
   
          
        </div>

    </section>
    <!--end donate form-->


    <script>
        function payWithPaystack(){
          var handler = PaystackPop.setup({
            key: 'pk_test_e13e729eec9612428bbdaeb9c80f2e1fb03d0dcf',
            email: document.getElementById('donator-email').value,
            amount: document.getElementById('donate-amount').value,
            currency: "NGN",
            ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            metadata: {
               custom_fields: [
                  {
                      display_name: "Mobile Number",
                      variable_name: "mobile_number",
                      value: document.getElementById('donate-phonenumber').value,
                  }
               ]
            },
      
            callback: function(response){
                var donatorinfo = { 
                    Donator : document.getElementById('donator-email').value, 
                    Amount : document.getElementById('donate-amount').value 
                };
                console.log(donatorinfo); 
                alert('Donation Successful. your transaction reference is ' + response.reference);
            },
    
            onClose: function(){ 
                alert('Payment Cancelled!');
            }
          });
    
          handler.openIframe();
        }
      </script>


    {{ render_js(render) }}


</body>
</body>

</html>
