{% from "base.html" import render_aboutus, render_ourcauses, render_faq, render_contactus, render_ourteam, render_sponsors, render_subscribenews, render_takeaction, render_footer, render_js, render_form, render_navbar, render_css, render_donatemodal %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Donate</title>

    {{ render_css(render) }}
</head>

<body class="donate">
    <div class="body-wrapper  float-menu">

        {{ render_navbar(render) }}

        <h1>DONATE PAGE</h1>

    </div>

    {{ render_subscribenews(render) }}

    {{ render_footer(render) }}

    {{ render_js(render) }}
</body>

</html>
