{% from "base.html" import render_aboutus, render_ourcauses, render_faq, render_contactus, render_ourteam, render_sponsors, render_subscribenews, render_takeaction, render_footer, render_js, render_css, render_donatemodal, render_scrolltotop %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Shop</title>

    {{ render_css(render) }}
</head>

<body>

  

    <section id="shop">
        <header>
            <div class="hero">
                <p>DONATE A SEED SHOP</p>
                <h1>COMING SOON</h1>

                <hr>
                <p id="launch"></p>
                <a onclick="location.href='index.html'" type="button" class="stunning-item-button greennature-button large greennature-lb-payment" id="modalBtn" background-color: #ecb338; color: #ffffff;>&triangleleft; Back</a>
            </div>

        </header>
    </section>



    <script>
        var countDownDate = new Date("june 30, 2020 00:00:00").getTime();

        var x = setInterval(function() {
            var now = new Date().getTime();

            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("launch").innerHTML = days + "d " + hours + "h " +
                minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("launch").innerHTML = "EXPIRED"
            }

        }, 1000);

    </script>


    {{ render_js(render) }}
</body>

</html>
