* {
    /* box-sizing: border-box; */
}

body {
    /* margin: 5px; */
    padding: 0;
    /* width: 99.9%; */
}

nav .container-fluid img {
    height: 50px;
    /* margin-left: 30px; */
    width: 100px;
}
.main-container {
    display: flex;
    margin: 20px 30px 10px 30px;
}

.slider {
    /* height: 100px; */
    width: 60%;
}

.border-radius {
    border-radius: 10px;
}

.featured {
    /* background-color: purple; */
    height: max-content;
    width: 40%;
    padding: 30px;
    text-align: justify;
    /* border: 1px solid grey; */
}

.featured button:first-child {
    width: 100%;
    margin-bottom: 20px;
}
.featured p {
    font-size: 20px;
    height: max-content;
}

.div-flex {
    display: flex;
    justify-content: space-evenly;
}

.div-flex span {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

main .main-container .first {
    background: url('images/farmer-1.jpg') no-repeat center center/cover ;
    height: 300px;
    width: 30%;
    padding-top: 150px;
    padding-left: 20px;
}
main .main-container .second {
    background: url('images/dem-look.jpg') no-repeat center center/cover ;
    height: 300px;
    width: 30%; 
    padding-top: 150px;
    padding-left: 20px;

}
main .main-container .third {
    background: url('images/dem-dey.jpg') no-repeat center center/cover ;
    height: 300px;
    width: 30%;
    padding-top: 150px;
    padding-left: 20px;
}

.main-third {
    background: url('images/sad-boy.jpg') no-repeat center center/cover ;
    height: 600px;
    width: 100%;
    opacity: 0.9;
    color: white;   
    display: flex; 
    justify-content: flex-end;
}

.main-third div p:first-child {
    font-size: 90px;
}



.main-third div {
    margin-right: 10px;
    margin-top: 50px;
}

.seed-seller .seller-div {
    display: flex;
    justify-content: center;
    color: white;
    background: grey;
    opacity: 0.9;
    font-size: 30px;
}

.modal-form {
    align-items: center;
    display: flex;
    justify-content: center;
   
}

.modal-content {
    background: url(images/cocoa-seed.jpg) no-repeat center center/cover;
    color: white;
}

.footer div {
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    }

.footer ul{
    display: flex;      
    justify-content: space-evenly;
    list-style: none;    
    width: 100%;
}

@media (max-width: 440px) {
   body {
       width: 100%;
   }
    .main-container {
        display: flex;
    flex-direction: column;
    width: 100%;
        margin: 0;
        /* background-color: red; */
    }

    .slider {
        width: 100%;
    }

    .featured {
        width: 100%;
        text-align: justify;
    }

    .div-flex {
        display: none;
        flex-direction: column;
        padding: 5px;
        /* background-color: green; */
    }

    .div-flex div {
        width: 100%;
        margin: 3px;
        background-color: red;
    }

    .main-third {
        height: 250px;
        text-align: center;
    }
    .main-third div p:first-child {
        font-size: 30px;
    }

    .seed-seller .seller-div {
        font-size:20px;
    }

    .footer ul {
        font-size: 12px;
    }
}